<%- include('partials/header') %>


<div class="jumbotron centered-home">
  <div class="container">
    <div class="d-flex justify-content-evenly">
      <i class="fas fa-key fa-3x"></i>
      <h1 class="display-3 fw-bold">Yours personal ToDo App</h1>
    </div>

    <hr>
    <a class="btn btn-lg btn-white" href="/register" role="button">Register</a>
    <a class="btn btn-lg btn-blue" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>